<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Fonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.FontsToRead" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Text" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWindowColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.FontsToRead" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.FontsToRead" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.Fonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.Fonts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWondowColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.ColorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.BottomText" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Colors.SettingsWindowColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.TopText" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Colors.MainWindowColors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.BottomText" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.TopText" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Fonts>
            <setting name="Count" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Заголовок" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Текст" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Кнопки" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Fonts>
        <FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.FontsToRead>
            <setting name="T0" serializeAs="String">
                <value>Заголовок</value>
            </setting>
            <setting name="T1" serializeAs="String">
                <value>Текст</value>
            </setting>
            <setting name="T2" serializeAs="String">
                <value>Кнопки</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.FontsToRead>
        <FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Text>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Content" serializeAs="String">
                <value />
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.AdditionalWindow.Text>
        <FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWindowColors>
            <setting name="Фон" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Заголовок" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Текст" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Фон_текста" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="Фон_кнопки" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="Текст_кнопки" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWindowColors>
        <FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.FontsToRead>
            <setting name="T0" serializeAs="String">
                <value>Заголовок</value>
            </setting>
            <setting name="T1" serializeAs="String">
                <value>Верхняя_панель</value>
            </setting>
            <setting name="T2" serializeAs="String">
                <value>Нижняя_панель</value>
            </setting>
            <setting name="T3" serializeAs="String">
                <value>Элемент_настроек</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.FontsToRead>
        <FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.FontsToRead>
            <setting name="T0" serializeAs="String">
                <value>Заголовок</value>
            </setting>
            <setting name="T1" serializeAs="String">
                <value>Верхняя_панель</value>
            </setting>
            <setting name="T2" serializeAs="String">
                <value>Средняя_правая_панель</value>
            </setting>
            <setting name="T3" serializeAs="String">
                <value>Средняя_левая_панель</value>
            </setting>
            <setting name="T4" serializeAs="String">
                <value>Нижняя_панель</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.FontsToRead>
        <FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.Fonts>
            <setting name="Заголовок" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Верхняя_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Нижняя_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Элемент_настроек" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Count" serializeAs="String">
                <value>4</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.Fonts>
        <FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.Fonts>
            <setting name="Заголовок" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Верхняя_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Средняя_правая_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Средняя_левая_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Нижняя_панель" serializeAs="String">
                <value>\Properties\Resources\Font\Bankir-Retro.ttf#Bankir-Retro</value>
            </setting>
            <setting name="Count" serializeAs="String">
                <value>5</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.Fonts>
        <FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWondowColors>
            <setting name="Фон" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Текст" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Colors.AdditionalWondowColors>
        <FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.ColorSettings>
            <setting name="Window1" serializeAs="String">
                <value>Главное окно</value>
            </setting>
            <setting name="Window2" serializeAs="String">
                <value>Окно настроек</value>
            </setting>
            <setting name="MW1" serializeAs="String">
                <value>Текст</value>
            </setting>
            <setting name="MW2" serializeAs="String">
                <value>Нажатые_клавиши</value>
            </setting>
            <setting name="MW3" serializeAs="String">
                <value>Ненажатые_клавиши</value>
            </setting>
            <setting name="MW4" serializeAs="String">
                <value>Фон</value>
            </setting>
            <setting name="SW1" serializeAs="String">
                <value>Фон</value>
            </setting>
            <setting name="SW2" serializeAs="String">
                <value>Заголовок</value>
            </setting>
            <setting name="SW3" serializeAs="String">
                <value>Фон_активного_меню</value>
            </setting>
            <setting name="MainColorCount" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SettingsColorCount" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="WindowCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Window3" serializeAs="String">
                <value>Дополнительные окна</value>
            </setting>
            <setting name="AW1" serializeAs="String">
                <value>Фон</value>
            </setting>
            <setting name="AW2" serializeAs="String">
                <value>Текст</value>
            </setting>
            <setting name="AdditionalColorCount" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MW5" serializeAs="String">
                <value>Фон_левого_окна</value>
            </setting>
            <setting name="MW6" serializeAs="String">
                <value>Фон_правого_окна</value>
            </setting>
            <setting name="MW7" serializeAs="String">
                <value>Текст_правого_окна</value>
            </setting>
            <setting name="MW8" serializeAs="String">
                <value>Тескт_левого_окна</value>
            </setting>
            <setting name="MW9" serializeAs="String">
                <value>Фон_выделенного_элемента</value>
            </setting>
            <setting name="MW10" serializeAs="String">
                <value>Граница_выделенного_элемента</value>
            </setting>
            <setting name="SW4" serializeAs="String">
                <value>Фон_активного_подменю</value>
            </setting>
            <setting name="SW5" serializeAs="String">
                <value>Рамка</value>
            </setting>
            <setting name="AW3" serializeAs="String">
                <value>Заголовок</value>
            </setting>
            <setting name="AW4" serializeAs="String">
                <value>Фон_текста</value>
            </setting>
            <setting name="AW5" serializeAs="String">
                <value>Фон_кнопки</value>
            </setting>
            <setting name="AW6" serializeAs="String">
                <value>Текст_кнопки</value>
            </setting>
            <setting name="SW6" serializeAs="String">
                <value>Текст</value>
            </setting>
            <setting name="SW7" serializeAs="String">
                <value>Активный_цветовой_канал</value>
            </setting>
            <setting name="SW8" serializeAs="String">
                <value>Фон_кнопок</value>
            </setting>
            <setting name="SW9" serializeAs="String">
                <value>Текст_кнопок</value>
            </setting>
            <setting name="MW11" serializeAs="String">
                <value>Фон_слайдера</value>
            </setting>
            <setting name="MW12" serializeAs="String">
                <value>Ползунок_сдайдера</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.ColorSettings>
        <FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.BottomText>
            <setting name="SaveButton" serializeAs="String">
                <value>Сохранить - Ctrl+S</value>
            </setting>
            <setting name="CancelButton" serializeAs="String">
                <value>Выход - Esc</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.BottomText>
        <FreeMax_File_Manager.Properties.UserSettings.Colors.SettingsWindowColors>
            <setting name="Фон" serializeAs="String">
                <value>#FF404040</value>
            </setting>
            <setting name="Заголовок" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Фон_активного_меню" serializeAs="String">
                <value>#FF8B8B8B</value>
            </setting>
            <setting name="Фон_активного_подменю" serializeAs="String">
                <value>#FF909090</value>
            </setting>
            <setting name="Рамка" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Текст" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Активный_цветовой_канал" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="Фон_кнопок" serializeAs="String">
                <value>#FF404040</value>
            </setting>
            <setting name="Текст_кнопок" serializeAs="String">
                <value>#FF000000</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Colors.SettingsWindowColors>
        <FreeMax_File_Manager.Properties.Settings>
            <setting name="RightAttributes" serializeAs="String">
                <value>Directory, Archive, Compressed</value>
            </setting>
            <setting name="LeftAttributes" serializeAs="String">
                <value>Directory, Archive, Compressed</value>
            </setting>
            <setting name="NegRigthAttributes" serializeAs="String">
                <value>Hidden, System, Temporary</value>
            </setting>
            <setting name="NegLeftAttributes" serializeAs="String">
                <value>Hidden, System, Temporary</value>
            </setting>
            <setting name="CurLeftFolder" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="CurRightFolder" serializeAs="String">
                <value>E:\</value>
            </setting>
            <setting name="wSettingsTitle" serializeAs="String">
                <value>Настройки</value>
            </setting>
            <setting name="wMainTitle" serializeAs="String">
                <value>FreeMax File Manager</value>
            </setting>
        </FreeMax_File_Manager.Properties.Settings>
        <FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.TopText>
            <setting name="Text1" serializeAs="String">
                <value>Цвет</value>
            </setting>
            <setting name="Text2" serializeAs="String">
                <value>Шрифт</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.SettingsWindow.TopText>
        <FreeMax_File_Manager.Properties.UserSettings.Colors.MainWindowColors>
            <setting name="Фон" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Текст" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Нажатые_клавиши" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="Ненажатые_клавиши" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Фон_левого_окна" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Фон_правого_окна" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Текст_правого_окна" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Тескт_левого_окна" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="Фон_выделенного_элемента" serializeAs="String">
                <value>#FF8C8C8C</value>
            </setting>
            <setting name="Граница_выделенного_элемента" serializeAs="String">
                <value>#FF3C3C3C</value>
            </setting>
            <setting name="Фон_слайдера" serializeAs="String">
                <value>#60CDCDCD</value>
            </setting>
            <setting name="Ползунок_сдайдера" serializeAs="String">
                <value>#60CDCDCD</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Colors.MainWindowColors>
        <FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.BottomText>
            <setting name="Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="Text3" serializeAs="String">
                <value>F3
Создать папку</value>
            </setting>
            <setting name="Text4" serializeAs="String">
                <value>F4
Создать файл</value>
            </setting>
            <setting name="Text5" serializeAs="String">
                <value>F5
Переименовать</value>
            </setting>
            <setting name="Text6" serializeAs="String">
                <value>F6
Копировать</value>
            </setting>
            <setting name="Text7" serializeAs="String">
                <value>F7
Переместить</value>
            </setting>
            <setting name="Text8" serializeAs="String">
                <value>F8
Удалить</value>
            </setting>
            <setting name="Text9" serializeAs="String">
                <value>F9
Настройки</value>
            </setting>
            <setting name="Text0" serializeAs="String">
                <value>F10
Выход</value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.BottomText>
        <FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.TopText>
            <setting name="Text1" serializeAs="String">
                <value>LCtrl+1
Атрибуты файлов</value>
            </setting>
            <setting name="Text2" serializeAs="String">
                <value>LCtrl+2
Диск</value>
            </setting>
            <setting name="Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="Text5" serializeAs="String">
                <value />
            </setting>
            <setting name="Text6" serializeAs="String">
                <value>RCtrl+1
Атрибуты файлов</value>
            </setting>
            <setting name="Text7" serializeAs="String">
                <value>RCtrl+2
Диск</value>
            </setting>
            <setting name="Text8" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Text9" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Text0" serializeAs="String">
                <value>
                </value>
            </setting>
        </FreeMax_File_Manager.Properties.UserSettings.Text.MainWindow.TopText>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>